USE [master]
GO
/****** Object:  Database [BD_BLUDATA]    Script Date: 10/04/2018 20:31:29 ******/
CREATE DATABASE [BD_BLUDATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_BLUDATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_BLUDATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_BLUDATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BD_BLUDATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_BLUDATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_BLUDATA]
GO
USE [BD_BLUDATA]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 10/04/2018 20:31:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cpf] [varchar](11) NOT NULL,
	[data_cad] [datetime] NOT NULL,
	[data_nasc] [date] NOT NULL,
	[rg] [varchar](10) NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefone]    Script Date: 10/04/2018 20:31:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefone](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pessoa] [int] NOT NULL,
	[num_tel] [varchar](15) NOT NULL,
 CONSTRAINT [PK_Telefone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pessoa] ON 

INSERT [dbo].[Pessoa] ([id], [nome], [cpf], [data_cad], [data_nasc], [rg]) VALUES (1, N'Nykolas Eduardo Antonioli Baumgarten', N'07343123939', CAST(N'2018-04-03T00:00:00.000' AS DateTime), CAST(N'1991-12-17' AS Date), N'5861010')
INSERT [dbo].[Pessoa] ([id], [nome], [cpf], [data_cad], [data_nasc], [rg]) VALUES (2, N'Cláudio Eduardo Baumgarten', N'64760391991', CAST(N'2017-08-16T00:00:00.000' AS DateTime), CAST(N'1968-09-14' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Pessoa] OFF
SET IDENTITY_INSERT [dbo].[Telefone] ON 

INSERT [dbo].[Telefone] ([id], [id_pessoa], [num_tel]) VALUES (9, 1, N'991769910')
INSERT [dbo].[Telefone] ([id], [id_pessoa], [num_tel]) VALUES (10, 1, N'4733256507')
SET IDENTITY_INSERT [dbo].[Telefone] OFF
ALTER TABLE [dbo].[Telefone]  WITH CHECK ADD  CONSTRAINT [FK_Telefone_Pessoa] FOREIGN KEY([id_pessoa])
REFERENCES [dbo].[Pessoa] ([id])
GO
ALTER TABLE [dbo].[Telefone] CHECK CONSTRAINT [FK_Telefone_Pessoa]
GO
USE [master]
GO
